<a
  class="dropdown-item"
  [routerLink]="['/faculty/attendance-summary']"
  routerLinkActive="active"
>
  <i class="fas fa-user-clock fa-sm fa-fw me-2 text-gray-400"> </i>&nbsp;My
  Attendance Summary
</a>
<a
  class="dropdown-item"
  [routerLink]="['/faculty/key-inventory-board']"
  routerLinkActive="active"
>
  <i class="fab fa-keybase fa-sm fa-fw me-2 text-gray-400"> </i>&nbsp;Key
  Inventory Board
</a>
<button class="dropdown-item" (click)="onLogout()">
  <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"> </i
  >&nbsp;Logout
</button>
