* {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

body {
  background-color: #eee;
}
nav {
  margin: 20px;
  position: relative;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.display-picture {
  margin-left: auto;
}
.display-picture img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.display-picture img:hover {
  border: 2px solid #e78341;
}
.card-123 {
  transition: 0.5s ease;
}

.card-123 ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: #e78341;
  position: absolute;
  top: 4rem;
  right: 0rem;
  border-radius: 10px;
  padding: 10px 50px 10px 20px;
}
.card-123 ul li {
  padding: 5px 0;
  color: #fff;
  font-size: 14px;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
  color: #fff;
}
