<section class="position-relative py-4 py-xl-5">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body text-center p-sm-5">
            <h2 class="font-weight-bold mb-3">
              Create Attendance Checker Account
            </h2>
            <form
              method="post"
              id="add-faculty"
              #regForm="ngForm"
              (ngSubmit)="submitRegFaculty()"
            >
              <div class="mb-3">
                <input
                  [(ngModel)]="form.employee_id"
                  class="form-control"
                  type="text"
                  name="employee_id"
                  placeholder="Employee ID"
                  (ngModelChange)="employeeChange(this.form.employee_id)"
                  required
                />
              </div>
              <div *ngIf="error.employee_id" class="alert mt-0 p-0 text-start">
                <div>{{ error.employee_id }}</div>
              </div>
              <div class="mb-3">
                <input
                  [(ngModel)]="form.first_name"
                  class="form-control"
                  type="text"
                  name="first_name"
                  placeholder="First Name"
                  (ngModelChange)="firstChange(this.form.first_name)"
                  required
                />
              </div>
              <div *ngIf="error.first_name" class="alert mt-0 p-0 text-start">
                <div>{{ error.first_name }}</div>
              </div>
              <div class="mb-3">
                <input
                  [(ngModel)]="form.middle_name"
                  class="form-control"
                  type="text"
                  name="middle_name"
                  placeholder="Middle Name"
                />
              </div>
              <div class="mb-3">
                <input
                  [(ngModel)]="form.last_name"
                  class="form-control"
                  type="text"
                  name="last_name"
                  placeholder="Last Name"
                  (ngModelChange)="lastChange(this.form.last_name)"
                  required
                />
              </div>
              <div *ngIf="error.last_name" class="alert mt-0 p-0 text-start">
                <div>{{ error.last_name }}</div>
              </div>
              <div class="mb-3">
                <input
                  [(ngModel)]="form.username"
                  class="form-control"
                  type="text"
                  name="username"
                  placeholder="Username"
                  (ngModelChange)="usernameChange(this.form.username)"
                  required
                />
              </div>
              <div *ngIf="error.username" class="alert mt-0 p-0 text-start">
                <div>{{ error.username }}</div>
              </div>
              <div class="mb-3">
                <input
                  [(ngModel)]="form.email"
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="Email"
                  (ngModelChange)="emailChange(this.form.email)"
                  required
                />
              </div>
              <div *ngIf="error.email" class="alert mt-0 p-0 text-start">
                <div>{{ error.email }}</div>
              </div>
              <div class="mb-3">
                <input
                  [(ngModel)]="form.position"
                  class="form-control"
                  type="text"
                  name="position"
                  placeholder="Position"
                  (ngModelChange)="positionChange(this.form.position)"
                  required
                />
              </div>
              <div *ngIf="error.position" class="alert mt-0 p-0 text-start">
                <div>{{ error.position }}</div>
              </div>
              <div class="mb-3">
                <input
                  [(ngModel)]="form.course_program"
                  class="form-control"
                  type="text"
                  name="course_program"
                  placeholder="Course Program"
                  (ngModelChange)="courseChange(this.form.course_program)"
                  required
                />
              </div>
              <div
                *ngIf="error.course_program"
                class="alert mt-0 p-0 text-start"
              >
                <div>{{ error.course_program }}</div>
              </div>
              <div class="mb-3">
                <div class="input-group">
                  <b>
                    <p
                      class="text-danger pl-3 text-left"
                      style="font-size: 12px"
                    >
                      Note: password must contain one(1) Uppercase letter,
                      one(1) lowercase letter and one(1) number. It must be
                      atleast 8 characters.
                    </p>
                  </b>
                  <input
                    [(ngModel)]="form.password"
                    type="password"
                    id="password"
                    class="form-control password"
                    data-toggle="password"
                    placeholder="password"
                    name="password"
                    (ngModelChange)="passwordChange(this.form.password)"
                    required
                  />
                  <div class="input-group-append d-flex">
                    <span
                      class="input-group-text eye-icon"
                      (click)="togglePasswordVisibility()"
                    >
                      <i class="fa fa-eye"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div *ngIf="error.password" class="alert mt-0 p-0 text-start">
                <div>{{ error.password }}</div>
              </div>
              <div>
                <button
                  class="btn btn-primary d-block w-100"
                  name="insert"
                  type="submit"
                >
                  Create
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card shadow">
          <div class="card-header py-2">
            <p class="lead m-0"><strong>Attendance Checker Accounts</strong></p>
          </div>
          <div class="card-body">
            <div class="table-responsive table mb-0 pt-3 pr-2">
              <table
                id="myTable"
                class="table table-striped table-bordered table-sm row-border hover"
              >
                <thead></thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
