<section class="position-relative py-4 py-xl-5">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="card shadow">
          <div class="card-header py-2 d-flex justify-content-between">
            <p class="lead m-0"><strong>Key Inventory</strong></p>
          </div>
          <div class="card-body">
            <div class="table-responsive table mb-0 pt-3 pr-2">
              <table
                id="myTable"
                class="table table-striped table-sm my-0 mydatatable"
              >
                <thead>
                  <tr class="text-nowrap">
                    <th>Room Name</th>
                    <th>Keys</th>

                    <th>Scheduled Faculty</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-nowrap">
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
