<a
  class="dropdown-item"
  [routerLink]="['/checker/schedule-attendance']"
  routerLinkActive="active"
>
  <i class="fas fa-user-clock fa-sm fa-fw me-2 text-gray-400"> </i
  >&nbsp;Schedule Attendance
</a>
<a
  class="dropdown-item"
  [routerLink]="['/checker/checker-key-inventory']"
  routerLinkActive="active"
>
  <i class="fab fa-keybase fa-sm fa-fw me-2 text-gray-400"> </i>&nbsp;Key
  Inventory
</a>
<button class="dropdown-item" (click)="onLogout()">
  <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"> </i
  >&nbsp;Logout
</button>
